select {
  font-size: 20px;
  margin-bottom: 10px;
}
#new-animal-btn {
  margin-right: 10px;
}

#home-icon {
  margin-top: 6px;
  margin-bottom: 3px;
  width: 50px;
  height: 58px;
}

#about {
  margin-right: 3px;
  margin-top: 11px;
  color: black;
  font-variant-caps: small-caps;
}

.panel-heading {
  font-size: 25px;
}

.btn {
  font-variant-caps: small-caps;
}
