body {
  background-color: lightgray;
}
select {
  font-size: 30px;
  margin-bottom: 14px;
}

#new-animal-btn {
  margin-right: 10px;
}

#home-icon {
  margin-top: 12px;
  margin-bottom: 3px;
  width: 50px;
  height: 58px;
}

#about-img {
  width: 100%;
}

#about-txt {
  text-align: center;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

#footer {
  text-align: center;
}

#about {
  background-color: lightyellow;
  margin-right: 3px;
  margin-top: 16px;
  color: black;
  font-weight: bold;
  font-variant-caps: small-caps;
}

#about-title {
  text-align: left;
}

#edit {
  float: right;
}

td {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

.panel-heading {
  font-size: 35px;
  font-weight: bold;
}

.btn {
  font-variant-caps: small-caps;
  color: white;
  font-size: 26px;
}
